
#currencyList2{
    text-transform: uppercase;
}
h1{
    text-transform: uppercase;
}

#alreadyChosen,
#wrongId,
#wrongValue{
    display: none;
}

#result{
    cursor: default;
    background-color: #fff;
}
